@using KlondaikLyubvi.Pages
@inject IJSRuntime JS
@inject NavigationManager Nav

@if (!isLoggedIn)
{
    <Login />
}
else
{
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <p role="alert">Sorry, there's nothing at this address.</p>
        </NotFound>
    </Router>
}

@code {
    bool isLoggedIn;
    bool checkedAuth = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !checkedAuth)
        {
            var userId = await JS.InvokeAsync<string>("blazorGetCookie", "userId");
            isLoggedIn = !string.IsNullOrEmpty(userId);
            checkedAuth = true;
            if (!isLoggedIn && Nav.Uri != Nav.BaseUri + "login")
            {
                Nav.NavigateTo("/login", true);
            }
            StateHasChanged();
        }
    }
}
